@media only screen and (min-width: 1024px) {

  .main-container {
    width: 75%;
  }

  .active-item {
    border-bottom: 2px solid #cd99d4;
    color: white;
  }

  header {
    & .menu {
      width: 75%;
      & .logo-block {

      }

      & .menu-icon {
        display: none;
      }

      & nav {
        background-image: none;
        & ul {
          flex-direction: row;
          justify-content: flex-end;
          position: static;
          background-image: none;
          padding: 0;

          & li {
            &:first-child, &:last-child {
              margin: 0;

            }
          }
        }
      }
    }
  }

  .features {
    & .features-list {
      flex-direction: row;

      & .feature {
        margin: 12px;

      }

    }
  }

  .discover {

    & .discover-app {
      display: flex;
      flex-direction: column;
    }

    & .launch-app {
      flex-direction: row-reverse;
      align-items: center;
    }

    & .description1 {
      padding: 12px 0;
      margin-left: 50%;
      position: relative;
      z-index: 2;

    }

    & .description2 {
      padding: 12px 0;
      width: 45%;
    }

    & .iphone1 {
      margin-top: -140px;
      & img {
        width: 80%;
      }

    }

    & .iphone2 {
      width: 55%;
      text-align: left;
      & img {
        width: 80%;
      }

    }

  }

  .step {
    flex-direction: row;
    & > div:first-child {
      flex: 60%;
      text-align: left;
      & ul {
        & li {
          & .circle-icon {
            width: 90px;
            height: 90px;
            font-size: 48px;
            line-height: 72px;
          }

        }
      }
    }


    & > div:last-child {
      text-align: right;
    }
  }
}


