//***************************
// COLOURS
//***************************

//pink
@pink: #e54595;
@active-pink: #ce75b4;
@light-pink: #e38cb7;
@dim-pink: #e38cb7;

//violet
@violet: #633991;
@light-violet: #b5a4c8;

//other
@grey: #959094;

//***************************
// BREAKPOINTS
//***************************

@breakpoints-desktop: 1200px;
@breakpoints-laptop: 952px;
@breakpoints-tablet: 768px;
@breakpoints-mobile: 1200px;

//***************************
// HELPER CLASSES
//***************************

.bg-gradient {
  background-image: linear-gradient(to right bottom, #4b0e8f, #7f0193, #ab0095, #d30c93, #f6298f);
}

.bg-grey {
  background-color: #faf6fb;
}

.main-container {
  width: 93%;
  margin: auto;
}

.active {
  display: none;
}

.fluid-container {
  //width: 100%;
}

.read-btn {
  color: white;
  background-color: @pink;
  border-radius: 3px;
  padding: 10px 35px;
  box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  display: inline-block;
}

small {
  text-transform: uppercase;
  color: @grey;

}

h2, h3, h4 {
  color: @violet;
  margin: 10px 0;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

//***************************
// BODY
//***************************

body {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

}

//***************************
// HEADER
//***************************

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: relative;
  z-index: 1;

  & .logo-block {
    padding: 15px;
    position: relative;
    z-index: 1;
  }

  & .menu-icon {
    padding: 8px 10px;
    border: 1px solid #ffffff1a;
    border-radius: 3px;
    margin: 15px;
    position: relative;
    z-index: 1;

    & > span {
      display: block;
      height: 2px;
      width: 26px;
      background-color: #ce9cca;
      border-radius: 9px;
      margin: 5px;
    }
  }

}

//***************************
// NAVIGATION
//***************************

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & > ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    right: 0;
    padding-top: 50px;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to right bottom, #4b0e8f, #7f0193, #ab0095, #d30c93, #f6298f);

    & li {
      padding: 12px;

      & a {
        text-transform: uppercase;
        color: #ffffff80;

        &:hover {
          color: white;
        }
      }

      &:first-child {
        margin-top: 45px;
      }

      &:last-child {
        margin: 13px;

        & a {
          color: white;
          font-size: 12px;
          border: 1px solid white;
          border-radius: 5px;
          padding: 6px 20px;

          &:hover {
            background-color: white;
            color: @light-pink;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

//***************************
// CONTENT
//***************************

.first-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  & h1 {
    color: white;
    font-size: 40px;
    font-weight: lighter;
    padding: 0 12px;
  }

  & p {
    color: #ffb8f6;
  }

  & .image-box {
    height: 400px;
    overflow: hidden;

    & img {
      max-width: 100%;
      height: auto;
    }
  }
}

& .sponsors {
  background-color: white;
  padding: 35px 5px;
  text-align: center;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.features {
  text-align: center;
  padding: 50px 0;

  & .features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .feature {
      position: relative;
      display: flex;
      align-items: flex-start;
      padding: 10px;
      background-color: white;
      text-align: left;
      margin: 15px 0;
      box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.04);
      transition: all 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        width: 3px;
        background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
        top: 0;
        bottom: 0;
        left: 0;
      }

      & h3 {
        margin-bottom: 40px;

      }

      & .icon {
        padding: 10px;
        flex-grow: 1;

        & img {
          width: 100%;
        }
      }

      & .text {
        margin-left: 10px;
        flex-grow: 2;

        & p {
          color: @grey;
          font-size: 20px;
        }
      }
    }
  }
}

.discover {

  padding: 50px 0;

  .description {

        & .box-icon {
      background-color: white;
      box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
      padding: 5px 0;
      width: 70px;
      text-align: center;
      margin-left: 10px;

      & img {
        width: 60px;
      }

    }

    & .text {
      margin-left: 10px;

      & p {
        color: @grey;
        font-size: 20px;
      }

      & h2 {
        margin-top: 30px;
      }

      & h2 {
        font-size: 45px;
        font-weight: 300;
      }

    }
  }

  & .iphone {
    & img {
      width: 100%;

    }
  }
}