@media only screen and (min-width: 768px) {
  .main-container {
    width: 85%;
  }

  .first-screen {
    & p {
      font-size: 20px;
      padding: 0 30px;
    }

    & h1 {
      font-size: 50px;
    }
    .image-box {
      height: 470px;
    }
  }

  .features {
    & .features-list {
      & .feature {
        & .icon {
          & img {
            width: 100%;
          }
        }
      }
    }
  }

  //***************************
  // TABS
  //***************************
  .tabs {
    & .accordion {
      & .tab-content {
        flex-direction: row;
      }
    }
  }

  .pricing {
    & .faq {
      & .query-answer {
        & .question {
          flex-basis: 50%;
          & p {
            line-height: 1.2;
            font-size: 17px;
          }
        }
      }

    }
  }

  .download {
    & .download-links {
      & a {
        margin: 0 15px;

        & img {
          width: 35px;
        }
      }
    }
  }

  //***************************
  // FOOTER
  //***************************

  footer {
    & .footer-links {
      & .contact {
        & p {
          font-size: 17px;
          &.pink {
            display: inline-block;
          }
        }
      }
    }
  }
}

